.bk-img{
    /* background-image: url(/src/assets/img/pexels-photo-696218.webp); */
    background-color: tomato;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}
.bk-img2{
    /* background-image: url(/src/assets/img/istockphoto-2032134580-612x612.webp); */
    background-color: tomato;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}
button{
    color: orangered;
}