.bk-img{
    background-image: url(../assets/img/img2.webp);
    background-color: tomato;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}
.bk-img2{
    background-image: url(../assets/img/istockphoto-1181111153-612x612.webp);
    background-color: tomato;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}
button{
    color: orangered;
}